/*EDITAR LA CABECERA*/
.navegacion{
    padding:0px !important;
    
}

.navegacion .navbar-default{
    background:#e53c37 !important ; 
    border-radius: 0px !important;
    border:none;
}

.navegacion .navbar-default *{
    color:white !important;
    margin:1px !important;
}

.tamaño-letra{
    font-size:18px;
}

.navbar-header a{
    font-size:22px;
}