/*****************************************GENERALES*****************************************/
.h1-strong{
    font-size:35px;
    font-weight:bold;
    margin-left:13px;
    margin-bottom:20px;
    border-bottom:1px solid #eee;
    padding-bottom: 15px;
}
*{
    font-family: Roboto;
}
.white{
    color:white;
}
.black{
    color:black;
}
.active{
    background: #ff851b;
}
.pointer{
    cursor:pointer;
}
.avatar{
    width: 35px;
    height: 35px;
    border-radius:100px;
    overflow:hidden;/*Lo que se salga del li lo oculte*/
    margin-right:40px;
    margin-top:0px;
}
.avatar img{
    height:auto;
    width:38px;
}
/*******************************************************************************************/

body{
    background: url('./app/login/bg2.jpg');
    -webkit-background-size:cover;
    background-size:cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

/*************************************EDITAR LA CABECERA********************************************/
.navegacion{
    padding:0px !important;
    margin-top:0px;
}

.navegacion .navbar-default{
    background:#456ad1 !important ; 
    border-radius: 0px !important;
    border:none;
}

.links:hover{
    background: #ff851b !important;
    transition:all 0.2s ease;
}

.navegacion .navbar-default *{
    color:white !important;
    margin:1px !important;
}

.tamaño-letra{
    font-size:18px;
}

.navbar-header a{
    font-size:22px;
}

.navegacion .dropdown-menu *{
    color:black !important;
    background: white;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus{
    background: #ff851b !important; 
}

.navegacion .navbar-default .dropdown-menu a:hover{
    background: #eee !important; 
}
/***************************************************************************************************/

/**********************IMAGENES DEL LOS USUARIOS EN LA PESTAÑA DE USUARIOS**************************/
.item-user .image-user{
    width: 75px;
    height: 75px;
    border-radius:100px;
    overflow:hidden;/*Lo que se salga del li lo oculte*/
    margin-right:15px;
}
.item-user .image-user img{
    width: 120px;

}
.item-user .user-name{
    margin-top:11px;
}
.item-user .user-name .nickname{
    color:#969393;
}
.item-user .user-name .name-surname a{
    color:#555;
    font-weight: bold;
}
.avatar-default{
    width:100% !important;
}
/***************************************************************************************************/
