<div class="navitagion col-lg-12 navegacion">
  <nav class="navbar navbar-default">
    <div class="container-fluid" class="margin-top:0px">
      
      <div class="navbar-header">
        <a href="#" class="navbar-brand tamaño-letra-brand" >{{ title }}</a>
      </div>

      <ul class="nav navbar-nav" *ngIf="identity">
        <li>
          <a [routerLink]="['/home']" [routerLinkActive]="['active']" class="links tamaño-letra">
           <span class="glyphicon glyphicon-home"></span>
           Inicio
          </a>
        </li>

        <li>
          <a href="#" [routerLinkActive]="['active']" class="links tamaño-letra">
            <span class="glyphicon glyphicon-th-list"></span>
            Timeline
          </a>
        </li>

        <li>
          <a [routerLink]="['/usuarios']" [routerLinkActive]="['active']" class="links tamaño-letra">
            <span class="glyphicon glyphicon-user"></span>
            Usuarios
          </a>
        </li>
      </ul>

      <ul class=" nav navbar-nav navbar-right" *ngIf="!identity">
          <li>
              <a [routerLink]="['/login']" [routerLinkActive]="['active']" class="links tamaño-letra">
               <span class="glyphicon glyphicon-log-in"></span>
               Login
              </a>
            </li>
    
            <li>
              <a [routerLink]="['/registro']" [routerLinkActive]="['active']" class="links tamaño-letra">
                <span class="glyphicon glyphicon-user"></span>
               Registro
              </a>
            </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" *ngIf="identity">
          <li>
              <!--Cargar Imagen de usuario-->
              <img class="avatar " *ngIf="identity && identity.image" src="{{ url + 'get-image-user/' + identity.image }}" alt="">
              <img class="avatar " *ngIf="identity && !identity.image" src="../assets/avatar_default2.png" alt="">
    
          </li>

          <li  class="dropdown">
            <a class="links tamaño-letra dropdown-toggle" data-toggle="dropdown" href="#">
              {{ identity.name }} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="tamaño-letra" href="#">
                  <span class="glyphicon glyphicon-user"></span>
                  Mi Perfil
                </a>
              </li>

              <li>
                <a class="tamaño-letra" [routerLink]="['/mis-datos']">
                   <span class="glyphicon glyphicon-cog"></span>
                  Mis Datos
                </a>
              </li>

              <li>
                  <a class="tamaño-letra pointer" href="#" (click)="logout()">
                    <span class="glyphicon glyphicon-log-out"></span>
                    Cerrar Sesión
                  </a>
                </li>
            </ul>
          </li>
      </ul>

    </div>
  </nav>
</div>

<router-outlet></router-outlet><!--Aquí se van a cargar las rutas que nosotros exportemos-->