/**********************************FORMULARIO DE REGISTRO************************************/
*{
    box-sizing: border-box;
    font-family:Roboto;
}

.white{
    color:white;
}

body{
    margin:0;
    font-family: sans-serif;
}
.form-register{
    width: 95%;
    max-width:500px;
    margin:auto;
    background:rgba(45, 64, 87, 0.349);
    border-radius:7px
}
.form-titulo{
    background: #456ad1;
    color:#fff;
    padding:20px;
    text-align:center;
    font-weight: 100;
    font-size:30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: solid 5px crimson;
    
}
.contenedor-inputs{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contenedor-inputs input[type="text"],
.contenedor-inputs input[type="password"],
.contenedor-inputs input[type="email"]{
    
    border-bottom: 4px solid #0075d9;
    font-family:Roboto;
    transition:all .7s ease;
}

.contenedor-inputs input[type="text"]:focus,
.contenedor-inputs input[type="password"]:focus,
.contenedor-inputs input[type="email"]:focus{
    border-bottom:4px solid crimson;
}

input{
    margin-bottom:15px !important;
    padding:15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid darkgray;
}
.input-48{
    width:48%;
}
.input-100{
    width:100%;
}
.btn-enviar{
    background: crimson;
    color:#fff;
    border:none;
    width: 100%;
    height:50px;
    padding:10px 0;
    font-weight: normal;
    font-family: Roboto;
    letter-spacing: 1px;
    font-size: 18px;
    cursor:pointer;
    transition: all .5s ease;
}
.btn-enviar:hover{
    background: #0075d9;
}

/*.btn-enviar{
    background:crimson;
    color:#fff;
    margin:auto;
    padding:10px 50px;
    cursor:pointer;
    font-size:20px;
} 
.btn-enviar:active{
    transform: scale(1.05);
} */
.form-link{
    width: 100%;
    margin:7px;
    text-align:center;
    font-size:14px;
    color:white;
}

/********************************************************************************************/