<div style="margin-top:40px" class="col-lg-12">
  <!--<h1 class="h1-strong text-center">{{ title }}</h1>-->

  <div class="alert alert-success" *ngIf="status == 'success'">
    <p class="text-center">Registro completado correctamente, <a [routerLink]="['/login']">Inicia Sesión aquí</a></p>
    
  </div>

  <div class="alert alert-danger" *ngIf="status == 'error'">
    <p class="text-center">El registro no ha podido completarse, quizás tu email o nicknameya esté en uso
      , inténtalo de nuevo con otros datos :(</p>
  </div>

  <!--El #registerForm es para decirle que es un formulario de Angular-->
  <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class=" form-register">
      <h2 class="form-titulo"> CREA UNA CUENTA</h2>
    
    <div class="contenedor-inputs">
    
            <!--Debemos de indicarle un nombre el campo del formulario de angular-->
            <!--Con el [(ngModel)]="user.name" le estamos indicando que campo queremos que se rellene 
                dentro del objeto user -->
            <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" 
            class="input-48" required placeholder="Nombre">

            <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" 
            class="input-48" placeholder="Apellidos" required>
            
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-6">
                    <span class="white" *ngIf="!name.valid && name.touched">
                        El nombre es obligatorio
                      </span>
                </div>
                <div class="col-lg-6">
                    <span class="white" *ngIf="!surname.valid && surname.touched">
                        Los apellidos son obligatorios
                      </span>
                </div>
              </div>
            </div>
            
            
        
            <input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" 
            class="input-100" placeholder="Apodo (Nickname)" required>
            <span class="white" *ngIf="!nick.valid && nick.touched">
              El apodo es obligatorio
            </span>
        
            <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" 
            class="input-100"  placeholder="Correo Electrónico" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
            <span class="white" *ngIf="!email.valid && email.touched" >
              El correo electrónico no es válido
            </span>
          
            <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" 
            class="input-100" placeholder="Contraseña" required>
            
            <div class="col-lg-12">
                <span class="white" *ngIf="!password.valid && password.touched">
                    La contraseña es obligatoria
                  </span>
            </div>
            <br><br>
          <!--EL botón va a estar deshabilitado cuando el formulario no esté validado correctamente-->
          <input type="submit" value="{{ title }}" class=" btn-enviar" 
            [disabled]="!registerForm.form.valid">
          
          <p class="form-link">¿Ya tienes una cuenta? <a style="color:white ; text-decoration:none;"[routerLink]="['/login']">Ingresa aquí</a></p>
    </div>
    
  </form>
</div>

